{% load staticfiles %}
{% load static %}
<link rel='stylesheet' href="{% static 'music/css/search.css' %}">

<div id='search-container' ng-controller='searchController'>
	<input id='search-input' type='text' ng-model='searchText' 
		placeholder="Search for music, artist, album" ng-model-options="{debounce: 500}" ng-change="searchMusic()">

	<table id='search-table' ng-show='searchResult.length > 0'>
		<col width="33%">
		<col width="33%">
		<col width="33%">
		<tr>
			<th ng-click='changeOrder("titleSort")'>Title</th>
			<th ng-click='changeOrder("authorSort")'>Author</th>
			<th ng-click='changeOrder("albumSort")'>Album</th>
		</tr>

		<tr ng-repeat='d in searchResult'>
			<td>{$ d[1] $}</td>
			<td>{$ d[2] $}</td>
			<td>{$ d[3] $}</td>
		</tr>

	</table>
	<div ng-show='searchText && searchResult.length == 0 '>
		No Results Found.
	</div>



</div>