#search-container input
{
	width: 90%;
	padding: 5px;
}

#search-table
{
	width: 100%;
}

#search-input
{
	margin-bottom: 25px;
	margin-top: 25px;
}

#search-table th:hover
{
	cursor: pointer;
}

.glyphicon
{
	margin-left: 5px;
	font-size: 10px;
}